.my-gfm {
  display: flex;
  font-family: "Source Sans Pro", sans-serif;
}
.CodeMirror {
  font-family: 'Fira Code', monospace;
  font-size: 20px;
  flex-basis: 50%;
  max-width: 50%;
  overflow: scroll;
  height: auto;
}
.CodeMirror pre.CodeMirror-placeholder {
  color: #999;
}

.CodeMirror pre {
  padding: 0 40px; /* Horizontal padding of content */
}


/* 渲染样式 */
.preview {
  max-width: 50%;
  flex-basis: 50%;
  font-size: 24px;
  color: #3f3f3f;
  padding: 10px;
  line-height: 1.45;
  background: #f6f6f6;
  overflow-wrap: break-word;
}
.preview a {
    color: #4fa1bd;
    text-decoration: none;
    background: transparent;
}

.preview pre {
  border: 1px solid #ccc;
  padding: 10px 20px;
  maring: 0 0 1.1em;
  border: 0;
  border-radius: 5px;
  display: block;
  line-height: 1.45;
  word-wrap: break-word;
  color: #333;
  background-color: rgba(128,128,128,.05);

}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

.preview blockquote {
  border-left: 10px solid rgba(128, 128, 128, .075);
  background-color: rgba(128,128,128,.05);
  border-radius: 0 5px 5px 0;
  padding: 15px 20px 10px;
}

sup.footnote-ref {
  position: relative;
  top: -.5em;
  font-size: .8em;
}