.my-gfm {
  display: flex;
}
.CodeMirror {
  font-family: 'Fira Code', monospace;
  font-size: 20px;
  flex-basis: 50%;
  overflow: scroll;
  height: auto;
}
.CodeMirror pre.CodeMirror-placeholder {
  color: #999;
}

.CodeMirror pre {
  padding: 0 40px; /* Horizontal padding of content */
}


/* 渲染样式 */
.preview {
  font-family: Georgia, 'Times New Roman', Times, serif;
  flex-basis: 50%;
  font-size: 24px;
  color: #3f3f3f;
  padding: 10px;
  line-height: 1.45;
  background: #f6f6f6;
  /* color: white; */
}
.preview a {
    color: #4fa1bd;
    text-decoration: none;
    background: transparent;
}

.preview pre {
  border: 1px solid #ccc;
  padding: .5em;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

.preview blockquote {
  border-left: 10px solid rgba(128, 128, 128, .075);
  background-color: rgba(128,128,128,.05);
  border-radius: 0 5px 5px 0;
  padding: 15px 20px;

}